.Skills {
  padding-top: 1rem;
  background: #313131;
  height: 90vh;
  padding-bottom: 5%;
}
.Skills .Container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  margin-bottom: 10%;
}
.Skills h4 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.Skills .List {
  display: flex;
  flex-direction: column;
}
.Skills .List h1 {
  font-size: 1.3rem;
}
.Skills .List .Icons {
  display: flex;
  justify-content: space-around;
}
.Skills .List .Icons svg {
  size: .8rem;
}
.Skills .List .Icons p {
  font-size: 0.75rem;
  padding: .3rem;
  margin-right: .3rem;
}

.Skills h1 {
  font-size: 2.5rem;
  color: white;
  align-self: center;
}
.Skills p {
  font-size: 1.5rem;
  padding-left: 8%;
  padding-right: 8%;
}
.Skills .Container .List hr {
  margin-block-start: 20%;
  margin: 1px 3px 10px 5px;
  height: 2px;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, #045805)
  );
}
.Skills .Container .List {
  flex-basis: 100%;
  background-color: #525252;
  box-shadow: 0 0 4px 4px white;
  border-radius: 9px;
  margin-bottom: 20px;
  margin-left: 1px;
  margin-right: 1px;
}
.Skills .List .Icons div {
  text-align: center;
  width: 3rem;
}

@media (min-width: 800px) {
  .Skills {
    background: #313131;
    height: 1000px;
    padding-bottom: 3%;
  }
  .Skills h4 {
    padding-left: 26%;
    width: 48%;
    padding-right: 26%;
    font-size: 30px;
    padding-bottom: 1%;
    margin-top: 0rem;
  }

  .Skills p {
    font-size: 1rem;
    margin: 0rem;
  }

  .Skills .List ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
  }

  .Skills .Container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
  }
  .Skills .Container .List {
    align-self: center;
    flex-basis: 100%;
    background-color: #525252;
    box-shadow: 0 0 4px 4px white;
    border-radius: 9px;
    margin-bottom: 3rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
  }

  .Skills .List ul li {
    align-self: center;
    margin: 0%;
    font-size: 20px;
  }

  .Skills .Container .List hr {
    margin-block-start: 20%;
    margin: 0px 3px 10px 5px;
    height: 2px;
    border: none;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(transparent),
      to(transparent),
      color-stop(50%, #045805)
    );
  }

  .Skills .List .Icons div {
    align-content: left;
    margin-bottom: 1rem;
    width: 2.5rem;
  }

  .Skills .List .Icons div p {
    text-align: center;
  }
}
