.Contact {
    background: #85FFBD;
    height: 300px;
    display: flex;
    align-items: center;
}
.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Contact .ContactIcons svg {
    padding-top: 10px;
}
.Contact .ContactIcons svg path {
    cursor: pointer;
    padding-top: 10px;

}

.Contact .ContactIcons .Pic {
height: 90px;
cursor: pointer;
}

@media (min-width: 800px) {
.Contact {
    background: #85FFBD;
    height: 300px;
    display: flex;
    align-items: center;
}
.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor: pointer;
}

.Contact .ContactIcons .Pic {
height: 90px;


padding-right: 10px;
cursor: pointer;
}
}