.Experience {
  padding-top: 1rem;
  display: flex;
  background: #313131;
  height: 120vh;
  padding-bottom: 5%;
  flex-direction: column;
}
.Experience p {
  padding-left: 5%;
  width: 90%;
  padding-right: 5%;
  font-size: 1rem;
}
.Experience h1 {
  font-size: 2.5rem;
}
.Experience h2 {
  font-size: 2rem;
}

.Experience .List ul {
  display: flex;
  list-style-type: none;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.Experience .Container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  padding-bottom: 15%;
}

.Experience .Container .List {
  flex-basis: 100%;
  background-color: #525252;
  box-shadow: 0 0 4px 4px white;
  border-radius: 9px;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.Experience .Skills .List ul li {
  margin: 0%;
  font-size: 1rem;
  flex-direction: row;
}

ul li {
  align-self: center;
}

@media (min-width: 800px) {
  .Experience {
    display: flex;
    background: #313131;
    height: 1000px;
    padding-bottom: 4%;
    flex-direction: column;
  }

  .Experience p {
    padding-left: 5%;
    width: 90%;
    padding-right: 5%;
    font-size: 20px;
    
  }

  .Experience .List ul {
    display: flex;
    list-style-type: none;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
  }

  .Experience .Container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    flex-direction: row;
  }

  .Experience .Container .List {
    flex-basis: 100%;
    background-color: #525252;
    box-shadow: 0 0 4px 4px white;
    border-radius: 9px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Experience .Skills .List ul li {
    margin: 0%;
    font-size: 20px;
    flex-direction: row;
  }

  ul li {
    align-self: center;
  }
}
